name: Pipeline Basico

on:
  push:
    branches:
      - main

jobs:
  teste:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout do repositorio
        uses: actions/checkout@v4

      - name: Teste simples
        run: echo "Pipeline executado com sucesso"
